.slick-slide > div{
    /* margin-right: 20px; */
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 30rem;
    width: 23rem; 
}
#applyOfferbtn{
    border: 1px solid black;
    height: 3.5rem;
    width: 10rem;
    border-radius: 50px;
    transition: 0.2s;
    text-align: center;
}
#applyOfferbtn:hover{
    background-color: #212529;
    color: white;
    transform: scale(1.1);
}
.img-div{
    width: 100%;
       height: 17rem;
       border-top-left-radius: 10px;
}
.img-div > img{
    width: 100%;
    height: 17rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.title-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

}
.title-div > p{
    color: Red;
    font-family: Impact, fantasy;
    font-size: 1.6rem;
}

/* @media screen and (max-width:1328px){
    .slick-slide > div{
        height: 27rem;
        width: 20rem;
    }
    .img-div{
        height: 14rem;
    }
    .img-div > img {
        height: 14rem;
    }
    .title-div{
        margin-top: 0rem;
    }
}
@media screen and (max-width:1156px){
    .slick-slide > div{
        height: 27rem;
        width: 17rem;
    }
    .img-div{
        height: 12rem;
    }
    .img-div > img {
        height: 12rem;
    }
    .title-div{
        margin-top: 0rem;
    }
}
@media screen and (max-width:1013px){
    .slick-slide > div{
        height: 27rem;
        width: 15rem;
    }
    .img-div{
        height: 10rem;
    }
    .img-div > img {
        height: 10rem;
    }
    .title-div{
        margin-top: 0rem;
    }
}
@media screen and (max-width:928px){
    .slick-slide > div{
        height: 24rem;
        width: 13rem;
    }
    .img-div{
        height: 8rem;
    }
    .img-div > img {
        height: 8rem;
    }
    .title-div{
        margin-top: 0rem;
    }
} */
@media screen and (max-width:564px){
    .slick-slide > div{
        height: 22rem;
        width: 10rem;
    }
    .img-div{
        height: 6rem;
    }
    .img-div > img {
        height: 6rem;
    }
    .title-div{
        margin-top: 0rem;
    }
    .title-div > p{
        font-size: 1rem;
    }
    #applyOfferbtn{
        width: 6rem;
    }
}






/* carousal-div img-div title-div */