#sidebar-content > div{
    background-color: white;
}
#sidebar-content{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
#contentDiv{
    /* border:1px solid black; */
    height: 150vh;
    width: 80rem;
}

.content{
    /* border: 5px solid green; */
    height: 350%;
    width: 70rem;
}